{% extends 'core/base.html' %}
{% load static %}

{% block title %}Services{% endblock title %}

{% block content %}
<div class="container mt-5">
    
    <h1 class="border-bottom text-warning mt-5 mb-5">SERVICES</h1>
    
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-coins fa-2x mb-3 i-color"></i>
            <h3>Software Development Services</h3>
            <p class="ss-color">a service provided to you by Services Provider that make available, display, run, access, or otherwise interact directly or indirectly with the Products.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>WEB Design</h3>
            <p class="ss-color">Web design encompasses many different skills and disciplines
                in the production and maintenance of websites.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Application Development</h3>
            <p class="ss-color">Web development is the work involved in developing a website
                for the Internet or an intranet.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h3>Mobile Application Development</h3>
            <p class="ss-color">Android is a mobile operating system based on Linux kernel 
                and other open-source software, designed for touchscreen mobile devices.</p>
        </div>

        <div class="col-sm-4">
            <i class="fas fa-cloud fa-2x mb-3 i-color"></i>
            <h3>DevOps Automation</h3>
            <p class="ss-color">iOS is a mobile operating system created and developed by 
                Apple Inc. exclusively for its hardware.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertising</h3>
            <p class="ss-color">
                Advertising is a marketing tactic involving paying for space to promote a 
                product, service, or cause.</p>
        </div>
    </div>

    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color"></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Graphic design is a profession, academic discipline and applied art.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">
                Hosting (also known as Web site hosting, Web hosting, and Webhosting) is the business of housing, serving, and maintaining files for one or more Web sites.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">Support services are processes that professionals use to execute a core program or function that generates revenue.</p>
        </div>
    </div>

</div>

{% endblock content %}

