{% extends 'core/base.html' %}
{% load static %}

{% block title %}Skill{% endblock title %}

{% block content %}

 <div class="container mt-5">
    <h1 class="text-warning border-bottom mb-5">SKILLS</h1>

    <div class="row text-white">
        
        <div class="col-sm-5">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:85%" ariavaluenow="85" aria-valuemin="0"
                aria-valuemax="100">85%</div>
            </div>
        </div>

        <div class="offset-sm-2 col-sm-5 ">
            <h3 class="mt-5">Django Framework</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:80%" ariavaluenow="80" aria-valuemin="0"
                aria-valuemax="100">80%</div>
            </div>            
        </div>

        <div class="col-sm-5 ">
            <h3 class="mt-5">REST API's</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:80%" ariavaluenow="80" aria-valuemin="0"
                aria-valuemax="100">80%</div>
            </div>            
        </div>

        <div class="offset-sm-2 col-sm-5 ">
            <h3 class="mt-5">SQL</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:50%" ariavaluenow="50" aria-valuemin="0"
                aria-valuemax="100">50%</div>
            </div>            
        </div>

        <div class="col-sm-5 ">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:60%" ariavaluenow="60" aria-valuemin="0"
                aria-valuemax="100">60%</div>
            </div>            
        </div>

        <div class="offset-sm-2 col-sm-5 ">
            <h3 class="mt-5">JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:50%" ariavaluenow="50" aria-valuemin="0"
                aria-valuemax="100">50%</div>
            </div>            
        </div>

        <div class="col-sm-5 ">
            <h3 class="mt-5">JAVA</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:10%" ariavaluenow="10" aria-valuemin="0"
                aria-valuemax="100">10%</div>
            </div>            
        </div>

        <div class="offset-sm-2 col-sm-5 ">
            <h3 class="mt-5">AWS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                style="width:40%" ariavaluenow="40" aria-valuemin="0"
                aria-valuemax="100">40%</div>
            </div>            
        </div>
    </div>

 </div>



{% endblock content %}
